<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejs Setup</title>

  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      color:white;
      background-color: black;
    }
  </style>
</head>
<body>
  <h1>We are Learning ejs <%= name %> </h1>
  <ul>
    <li>
      Product Name=<%=products[0].name %> 
      <li>
        Price = <%=products[0].price %>
      </li> 
    </li>
  </ul>
</body>
</html>